:root {
  --orange: #ff6c00;
  --white: #ffffff;
  --light-gray: #9da4bd;
  --black: #303030;
  --primary-font: "Open sans", sans-serif;
  --sencondary-font: "Raleway", sans-serif;
}

/* Header section style */

.header {
  background-color: #303030;
}

.header__logo {
  background-color: var(--white);
}

.header__navigation {
}

.header__navigation ul {
  list-style: none;
}

.header__navigation a {
  text-decoration: none;
  font-family: var(--primary-font);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: var(--white);
}

.header__navigation a:hover {
  text-decoration: none;
  font-family: var(--primary-font);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: var(--orange);
}

.header__info a {
  text-decoration: none;
  font-family: var(--primary-font);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  font-style: normal;
  color: var(--white);
}

.header__booking {
}

.button {
  text-decoration: none;
  font-family: var(--primary-font);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  background-color: transparent;
  color: var(--white);
  text-transform: uppercase;
  padding: 12px 24px;
  border: 1px solid var(--orange);
  border-radius: 25px;
  cursor: pointer;
}

.button-dark:hover {
  color: var(--white);
  background-color: var(--orange);
}

/* Hero section style */

.hero-section {
  background-color: #303030;
}

.hero-section__subtitle {
  font-size: 11px;
  font-family: var(--primary-font);
  font-weight: 600;
  line-height: 14px;
  color: var(--light-gray);
}

.hero-section__title {
  font-family: var(--sencondary-font);
  color: var(--white);
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
}

.hero-section__text {
  font-size: 18px;
  font-family: var(--primary-font);
  font-weight: 400;
  line-height: 30px;
  color: var(--light-gray);
}

/* Hero section style */

.about__subtitle {
  font-size: 11px;
  font-family: var(--primary-font);
  font-weight: 600;
  line-height: 14px;
  color: var(--black);
}

.about__title {
  font-size: 42px;
  font-family: var(--sencondary-font);
  font-weight: 700;
  line-height: 50px;
  color: var(--black);
}

.about__text {
  font-size: 18px;
  font-family: var(--primary-font);
  font-weight: 400;
  line-height: 30px;
  color: var(--black);
}

.about__button {
  color: var(--black);
}
